@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-SemiBold.ttf");
    font-weight: 600;
}


/* MAIN */
* {
    color: var(--text-color);
    font-family: Gilroy;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 0;
    margin: 0; 
    overflow-x: hidden;
}

:root {
    --text-color: #163950;
    --btn-orng-1: #f6c17a;
    --btn-orng-2: #ed6519;
    --btn-blue-1: #26c0df;
    --btn-blue-2: #158ab2;
    --nav-grey: #afafaf;
    --nav-blue: #27c1de;
    --c-orng: #ee6f25;
    --c-blue: #27c1de;
    --c-green: #a3d46b;
    --bg-grey: #f2f2f2;

    --txt-size-large: 33px;
    --txt-size-big: 23px;
    --txt-size-mid: 20px;
    --txt-size-smal: 18px;

    --margin-img: 15px;
    --margin-large: 60px;

    --padding-form: 40px 45px 40px 75px;
    --padding-card: 10px;
}

.d-none {
    display: none;
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    position: relative;
}

nav img {
    height: 70px;
    margin-top: -30px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 60px;
    padding: 0;
}

nav li {
    margin: 0 15px;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

/* TEXT */
h1 {
    font-size: var(--txt-size-large);
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    text-align: left;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px 0;
}

p {
    width: 40%;
    margin: 20px  auto;
}

p strong{
    font-weight: bold;
}

h1.wiggly {
    background-image: url("../img/icons/wave-orange.png");
    background-repeat: no-repeat;
    background-position: center 45px;
    padding-bottom: 40px;
}

#gains h1.wiggly {
    background-image: url("../img/icons/wave-white.png");
}

/* BUTTONS */
.btn-orange {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background: linear-gradient(var(--btn-orng-1), var(--btn-orng-2));
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-orange:hover {
    transition: all 0.3s ease;
    background: linear-gradient(var(--btn-blue-1), var(--btn-blue-2));
}

.btn-blue {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background: var(--c-blue);
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-blue:hover {
    transition: all 0.3s ease;
    background: var(--c-green);
}

/* BACKGROUND IMAGES */
.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

.bg-img#first {
    aspect-ratio: 1920/948; 
    background-image: url("../img/firstA.png");
} 

.bg-img#break1 {
    aspect-ratio: 1920/162;
    background-image: url("../img/break1.png");
}

.bg-img#cost {
    background-color: var(--bg-grey);
}

.bg-img#break2 {
    aspect-ratio: 1920/162;
    background-image: url("../img/break2.png");
}

.bg-img#break3 {
    aspect-ratio: 1920/162;
    background-image: url("../img/break3.png");
}

.bg-img#gains {
    background-color: var(--c-blue);
}

.bg-img#break4 {
    aspect-ratio: 1920/162;
    background-image: url("../img/break4.png");
    position: relative;
    z-index:1;
}

.bg-img#question {
    aspect-ratio: 1920/744;
    background-image: url("../img/questions.png");
    z-index: 0;
    position: relative;
    margin-top: -90px;
    padding-top: 90px;
}

.bg-img#contacts {
    aspect-ratio: 1920/388;
    background-image: url("../img/map.png");
}

/* CAROUSEL */
.carousel{
    display: flex;
    justify-content: center;
}

.carousel li {
    margin: 0 15px;
    list-style: none ;
}

.carousel li img {
    height: 300px;
} 

.nav-arrow {
    height: 40px;
    width: 40px;
    margin: 5px ;
    background-color: white;
    --btn-color: var(--nav-grey);
    border: 1px solid var(--nav-grey);
    border-radius: 50%;
    outline: none;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}

.nav-arrow:hover {
    border: 1px solid white; 
    background-color: var(--nav-blue);
    --btn-color: white;
}

.nav-arrow i {
    color: var(--btn-color);
}

/* COST */
#cost form {
    padding: 30px;
    padding-right: 70px;
    background-color: white;
    border-radius: 20px;
    width: 35vw;
    height: 200px;
    margin: 20px 0;
} 

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
.form-row label {
    flex: 1;
    font-weight: bold;
}

.form-row select {
    width: 230px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    text-align: start;
    box-shadow: inset 0 1px 7px 1px rgba(0, 0, 0, 0.075);
    background-color: white;
    transition: all 0.3s ease;
}

.form-row select:hover {
    box-shadow: inset 0 1px 7px 4px rgba(0, 0, 0, 0.075);
    outline: none;
}
  
.form-row select:focus {
    outline: none;
    box-shadow: inset 0 1px 7px 4px rgba(0, 0, 0, 0.075)
}

.form-row select option {
    text-align: left;
}

.form-row input[type=range] {
    width: 185px;
    height: 20px;
    overflow: hidden;
    margin-left: 10px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.form-row input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin-top: -7px;
    background-color: white;
    border: 2px solid var(--c-orng);
    border-radius: 50%;
    cursor: pointer;
}

.form-row input[type=range]::-webkit-slider-runnable-track {
    height: 6px; /* set the height to 8px for the track */
    background-color: #bbb;
    border-radius: 5px;
}

.form-row output {
    margin: 10px;
    margin-right: 0;
}

.form-row output small {
    margin-top: -5px;
}


img#costPool {
    position: relative;
    float: right;
    margin-left: -50px;
    margin-right: -180px;
}


/* GAINS */
#gains h1, #gains h4{
    color: white;
}

#gains ul {
    display: flex;
    justify-content: space-around;
    margin: 0 20%;
}

#gains li {
    width: 150px;
}

#gains li img {
    margin: 20px;
}

#gains h4{
    font-size: 16px;
}

#leaf {
    position: relative;
    float: right;
    right: 44px;
    margin-top: -380px;
}

/* CONTACTS */
#contacts .sq-card {
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    width: 20vw;
    height: 65%;
    margin: 20px 0 20px 20%;
}

#contacts li {
    display: flex;
    align-items: center
}

#contacts p{
    width: initial;
    text-align: start;
    margin: initial;
}

#contacts i {
    color: var(--nav-grey);
    font-size: 25px;
    margin: 10px;
}